<div class="section-title-upcoming">
  <h2>{{ sectionTitle }}</h2>
</div>

<div class="conferences-cards-container">
  <div class="conference-card" *ngFor="let conference of conferences">
    <div class="card-image">
      <img [src]="conference.featuredImagePath" [alt]="conference.title" />
    </div>
    <div class="card-content">
      <h3 class="card-title">{{ conference.title | slice:0:100 }}</h3>
      <p class="card-excerpt">{{ conference.content | slice:0:100 }}...</p>
      <div class="card-details">
        <div class="detail-item">
          <i class="fas fa-calendar-day"></i>
          <span>{{ conference.createdDate | date: 'yyyy/MM/dd' }}</span>
        </div>
      </div>
      <a (click)="goToConferenceDetails(conference)" class="card-link">
        Conference Details
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
<!-- 
<div class="all-conferences-section">
  <a [routerLink]="['/news']" [queryParams]="{filter: 'مؤتمرات'}" class="all-conferences-btn" (click)="goToNewsPage()">
    مؤتمرات الكلية
  </a>
</div> -->
