 <div class="medicine-logo-bar">
      <div class="logo-bar-container">
        <!-- Logo Section -->
        <div class="logo-section">
                    <a routerLink="/home">

          <img
            [src]="logoUrl"
            [alt]="'Faculty of Medicine Logo'"
            class="logo-image"
            style="cursor: pointer;"
            *ngIf="logoUrl"
          >
          </a>
          <div class="logo-text">
            <h1 class="logo-title"> Faculty of medicine </h1>
          </div>
        </div>

        <!-- Contact Information Section -->
        <div class="contact-section">
          <!-- Address -->
          <a class="contact-item" *ngIf="contact?.address" (click)="openLocation()">
            <i class="fas fa-map-marker-alt"></i>
            <span>{{ contact?.address }}</span>
          </a>

          <!-- Phone -->
          <a class="contact-item" *ngIf="contact?.phone" (click)="openPhone(contact!.phone)">
            <i class="fas fa-phone"></i>
            <span>{{ contact?.phone }}</span>
          </a>

          <!-- Email -->
          <a class="contact-item" *ngIf="contact?.email" (click)="openEmail()">
            <i class="fas fa-envelope"></i>
            <span>{{ contact?.email }}</span>
          </a>

          <!-- Language -->
          <a class="contact-item" href="{{ contact?.webSite }}" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-language"></i>
            <span>AR</span>
          </a>

             <!-- university -->
          <a class="contact-item" href="{{ contact?.youTube }}" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-globe"></i>
            <span>University Website</span>
          </a>
        </div>
      </div>
    </div>